
/* global */


*:focus {
    outline: none;
    box-shadow: none;
}



/* index */



.menu{
    background: #fdeaab;
}

.menu_form{
    border: medium solid #a0855b;
    border-radius: 20px;
    background:#ffffff;
}
.menu_form_input{
    border:none;
    border-radius: 20px;
}


.menu_form_btn{
    border:none;
    background: #ffffff;
    border-radius: 20px;
    color: #a0855b;
}

.menu_form_btn:hover{
    background: #ffffff;
    color: #52432b;
    
}

.main{
    border:medium solid #a0855b;
    border-radius: 20px;
    padding:10px;
    margin:50px;
    text-align: center;
}


.footer{
    text-align: center;
    background: #fdeaab;
    padding:0;
}

.footer_text{
    color:#a0855b;
    padding: 50px;
}

.footer_text:hover{
    color:#52432b;
    text-decoration: none;
}

.footer_sns{
    background:#a0855b;
    padding:0;
    margin:0;
    font-size:50px;
}

.footer_sns_i{
    color:#000000;
}


/* 


여진 */

.title-table {
 
    color: #a0855b;
  
}


.userid-table{
   border:solid 2px #fdeaab; 
   margin-top:4%;
}

.userid-table #userid{
   height: 40px;
   width: 430px;
}

.password-table{
   border:solid 2px #fdeaab; 
   margin-top:1%
}
.password-table #password{
   height:40px; 
   width:430px;
}

.btn-table{
   margin-top:1%;
}

.btn-table #btn-login{
   height:50px; 
   width:430px; 
   background-color:#fdeaab; 
   color:white; 
   font-size:16px;
   border:solid 1px #fdeaab;
}

#border-table{
   border:solid 1px #52432b; 
   margin-top:2%;
              
}

.link-table{
   margin-top:1%;
}

.link-table a{
    color:#52432b;
}
